Song {font-family: Arial; font-size: 50px; display:block;}

Genre {font-family: Arial, Helvetica, sans-serif; font-size: 20px; display:block; color:yellow;}

Title {font-family: Arial, Helvetica, sans-serif; font-size: 20px; display:block;}

Artists {font-family: Arial, Helvetica, sans-serif; font-size: 20px; display:block;}

Year {font-family: Arial, Helvetica, sans-serif; font-size: 20px; display:block;}

